/* Pokemon color pallete */
:root {
  --logo-dark-blue: #3c5aa6;
  --logo-light-blue: #2a75bb;
  --logo-yellow-shadow: #c7a008;
  --logo-yellow-shadow-opacity: hsla(48, 96%, 41%, 0.1);
  --logo-yellow: #ffcb05;
  --text-black: #222222;
  --disabled-color: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}